.interior {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 5px solid white;
}

.div1 {
    background-color: red;
}

.div2 {
    background-color: orange;
    left: 120px;
}

.div3 {
    background-color: yellow;
    left: 240px;
}

.div4 {
    background-color: blue;
    left: 60px;
    top: 60px;
    z-index: 1;
}

.div5 {
    background-color: violet;
    left: 180px;
    top: 60px;
    z-index: 1;
}